[submodule "week_1/lib/openzeppelin-contracts"]
	path = week_1/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "week_1/lib/forge-std"]
	path = week_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week_2/lib/forge-std"]
	path = week_2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week_2/lib/openzeppelin-contracts"]
	path = week_2/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "week_3_6/lib/forge-std"]
	path = week_3_6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week_3_6/lib/v2-core"]
	path = week_3_6/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "week_3_6/lib/v2-periphery"]
	path = week_3_6/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "week_3_6/lib/solady"]
	path = week_3_6/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "week_7_8/lib/forge-std"]
	path = week_7_8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week_7_8/lib/openzeppelin-contracts"]
	path = week_7_8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week_14_16/lib/forge-std"]
	path = week_14_16/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week_14_16/lib/ds-test"]
	path = week_14_16/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "week_14_16/lib/openzeppelin-contracts"]
	path = week_14_16/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week_14_16/lib/yul-console-logging"]
	path = week_14_16/lib/yul-console-logging
	url = https://github.com/adeelhasan/yul-console-logging
